- title "Sign up"

%p
  =link_to "Sign in with Facebook", "/auth/twitter"
  =link_to "Sign in with Twitter", "/auth/facebook"

%p== Already have an account? #{link_to "Log in", login_path}.

= render 'form'
