%img#background( src="/images/bakgrunnsbilde.jpg" )

  #imagetext

    - if current_user
      %h1 Velkommen til det fantasisk spennende GEOGRAFISPILLET!

      %p Spillet tar deg med på en opplevelsesrik reise gjennom Europa, men her gjelder det ikke bare å vise til sine geografikunnskaper, det er også viktig å være rask, listig og ikke minst bruke pengene dine med omhu.

      %br

      %p Hvem i gjengen klarer å komme seg gjennom fortest?

      %br
      %br
      %br
      %br

      - link_to "/avatar" do
        %p#biglink Lag avatar

      - link_to "/countries/1" do
        %p#biglink Start spillet!

    - else

      %h1 GEOGRAFISPILLET

      %br

      %p For deg som vil lære geografi på en spennende måte!

      %br
      %br
      %br
      %br

      - link_to "/signup" do
        %p#biglink Register ny bruker

      - link_to "/login" do
        %p#biglink Logg inn
