#main_right_column
  %h1 Velkommen til spillet!

  %p Dette er et spill der du kan lære om geografi.

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

  - link_to "/countries" do
    %p(style="float:right;font-weight:bold;font-size:34px;") Start spillet!

#main_left_column
  %img( src="/images/bakgrunnsbilde.jpg" width="100%" ) 
