%p Eline: Hvor mange penger har du, Anja?
%p Anja: 320 kroner, enn du?
%p Eline: 430,-

= form_for current_user do |f|
  = f.error_messages
  %p
    = f.text_field :password
  %p
    = f.submit "Send"
